<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
  color-scheme: light only;
}
  a{
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
  }
a:hover{
    color: #0d5a67;
  }
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
  h1{
    font-size: 49px;
    color: #fff!important;
    margin-top:0px;
    text-shadow: 1px 1px #0000002e;
  }
  h2{
                        /*    padding-bottom: 20px;*/
font-size: 28px;
color: #000F2B;
  }
p, li {
  font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #625F5F;
  }
/*---Toast Notification---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.toast {
    position: fixed;
/*    top: 25px;*/
bottom: 30px;
    right: 30px;
    border-radius: 6px;
    background: #fff;
    padding: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #0D5A67;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
    max-width: 529px;
}
.toast.active {
    transform: translateX(0);
}
.toast-content {
    display: flex;
    justify-content: center;
/*    align-items: center;*/
}
.toast-check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #40f467;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}
.message {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 0px;
}
.message-text {
    font-size: 20px;
    font-weight: 600;
}
.text-1 {
    color: #333;
}
.text-2 {
    color: #666;
    font-weight: 400;
    font-size: 16px;
}
.toast-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast-close:hover {
    opacity: 1;
}
.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
    height: 3px!important;
    margin-bottom: 0px!important;
}
.progress::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #0D5A67;
}
.progress.active::before {
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100% {
        right: 100%;
    }
}
.toast-btn {
    padding: 10px 40px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #40f467;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.toast-btn:hover {
    background-color: #0fbd35;
}
.vacation {
    height: 85px;
    margin: 16px;
}

/*---End of Toast Notification---*/


  .mobile-logo {
  display: none;
}

#nav-icon3{
  display: none;
}

#demo {
  margin: 24px auto;
}
  #nav-icon3 {
  width: 40px;
  height: 45px;
  position: absolute;
  margin:20px 0px 0px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 0;
  top: 0;

}
 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 68%;
  background: #0D5A67;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  right: 0;
  top: 0;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



#navbarid, #askills {
  position: relative;
   left: -1600px;
    -webkit-animation: slide 1.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 1.5s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}



.services-hr {
  border: none;
height: 2px;
/* Set the hr color */
color: #FDDA25;  /* old IE */
background-color: #FDDA25;  /* Modern Browsers */
width: 100px;
margin-left:0;
}


.header-hr{
  margin: 20px auto;
border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
border-top: 2px solid #FDDA25!important;
width: 100px;
}
hr {
  margin-top: 20px;
margin-bottom: 20px;
border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
width: 100px;
}
  .header{
    height: 600px;
    display: flex;
    background-position: center!important;
                        background: url(https://github.com/iordanisch/kirsten/blob/main/header-img.jpg?raw=true);
  }
  .nav-text{
    font-family: 'Playfair Display', serif;
    color: #3a3a3a;
  }
  
  .box{
    max-width: 1170px;
    margin:auto;
    text-align: center;
    padding-bottom: 25px;
  }
  .nav-box {
padding: 16px 16px 25px 16px;
}
  .nav-bar{
    background: #fff;
    max-width: 1920px;
    display: flex;
justify-content: space-between;
  }
                    .navigation-options {
    margin: auto 0px;
    padding-right: 16px;
  }
  .nav-text{
    margin: 0px 16px;
  }
.headerbutbox {
margin-top: 54px;
}
.heardertext{
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}
.primarycta {
border: 2px solid #fff;
padding: 16px 40px 12px;
color: #fff;
font-size: 12px;
margin:0px 24px;
}
.primarycta:hover {
border: 2px solid #0D5A67;
padding: 16px 40px 12px;
background: #0D5A67;
color: #fff;
transition: 1s;
text-decoration: none;
}
.secondarycta {
border: 2px solid #fff;
padding: 16px 40px 12px;
background: #fff;
color: #0D5A67;
font-size: 12px;
margin:0px 24px;
}
.secondarycta:hover {
border: 2px solid #0D5A67;
padding: 16px 40px 12px;
background: #0D5A67;
color: #fff;
transition: 1s;
text-decoration: none;
}
.content-box, .additional-box {
max-width: 1100px;
margin: auto;
text-align: center;
padding: 100px 0px;
display: flex;
justify-content: space-between;
}
.content-box-small {
max-width: 700px;
margin: auto;
text-align: center;
padding: 100px 0px;
}
.content{
  background: #0D5A67;
}
.services-title{
  color:#fff;
    margin: 0px;
}
.about-me-title{
    margin: 0px;
}
.services-box-one{
  text-align: left;
  width: 30%;
  }
.goldcrest-img{
  width: 215px;
opacity: 0.27;
}
.services-box-two{
  text-align: left;
  width: 65%;
}
.services-text{
  color: #fff;
}
.about-me-box-one{
  width: 65%;
  text-align: left;
}
.about-me-box-two{
  width: 30%;
}
.social-icon {
padding: 10.5px;
background: #0D5A67;
border-radius: 120px;
width: 36px;
text-align: center;
color: #fff;
margin-right: 16px;
height: 36px;
}
.social-icon:hover {
background: #0D5A67;
border-radius: 120px;
width: 36px;
text-align: center;
color: #fff;
opacity: 0.5;
  transition: 1s;
}
.signature{
  max-width: 200px;
}
.contact-box{
  padding: 100px 0px;
  max-width: 600px;
  margin: auto;
}
.content-contact{
background-position: center!important;
                        background: url(https://github.com/iordanisch/kirsten/blob/main/get-in-touch.jpg?raw=true);
}
  body{
margin: 0 auto;
position: relative;
  }
.contact-text-box {
text-align: center;
}
/* Style the form element with a border around it */
/* Add some padding and a grey background color to containers */
.container {
padding: 20px;
background-color: #f1f1f1;
}
/* Style the input elements and the submit button */
input[type=text], input[type=number], input[type=email], input[type=submit],#message  {
width: 100%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
outline:0;
}
input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=submit]:focus,#message:focus  {
border:1px solid #0D5A67;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
/* Add margins to the checkbox */
input[type=checkbox] {
margin-top: 16px;
}
/* Style the submit button */
input[type=submit] {
background: none;
border: 2px solid #fff;
/*padding: 16px 40px 16px;*/
color: #fff;
font-size: 12px;
/*margin:0px 24px;*/
}
input[type=submit]:hover {
border: 2px solid #0D5A67;
background: #0D5A67;
color: #fff;
transition: 1s;
}


/*form styling*/
.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
  text-align: left;
  color: #dc3545;
  font-weight: bold;
  text-shadow: 1px 1px #00000054;
  top: -5px;
  position: relative;

}
#result{
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}

/*------------end of form styling------------*/



.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
  text-align: left;
  color: #dc3545;
    font-weight: bold;
    text-shadow: 1px 1px #00000054;
    top: -5px;
  position: relative;

}


.is-invalid,
.was-validated :invalid {
    border: 2px solid #dc3545!important;
}

.send-button{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  outline: 0;
  background: none;
  color: #fff;
  padding: 12px 0px 8px 0px;
}

.send-button:hover{
 border: 2px solid #0D5A67;
background: #0D5A67;
color: #fff;
transition: 1s;
}


.additional-one{
  text-align: left;
  width: 65%;
}
.additional-two{
  width: 30%;
}
.additional-img {
margin: auto;
opacity: 0.2;
}
.quote{
  font-size: 30px;
  color: #fff;
}
.testimonial-box-small {
max-width: 700px;
margin: auto;
padding: 100px 0px;
}
.test-text{
  border-left: 4px solid #fff;
  padding-left: 50px;
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}
.get-in-text{
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}
.testimonial-box{
  background: #000;
}
.right-aligned{
  text-align: right;
  text-shadow: 1px 1px #0000002e;
  color:#fff;
}
.testimonial-box{
  background: url(https://github.com/iordanisch/kirsten/blob/main/testimonial.jpg?raw=true);
  background-position: center!important;
  background-repeat: no-repeat;
}
.footer {
max-width: 750px;
margin: auto;
display: flex;
justify-content: space-between;
padding: 50px 0px;
}
.bacp-logo{
  max-width: 180px;
}
.social-box{
  text-align: center;
}
.hr-long{
  border: none;
height: 1px;
/* Set the hr color */
color: #f1f1f1;  /* old IE */
background-color: #f1f1f1;  /* Modern Browsers */
width:100%;
}
.footer-small {
  background: #0D5A67;
}

@media only screen and (max-width: 1280px) {
  .additional-box, .content-box {
    max-width: 970px;
  }
  :root{
  color-scheme: light only;
}

}
@media only screen and (max-width: 970px) {
  .additional-box, .content-box, .additional-box {
    display: block;
    max-width: 600px;
  }

  .services-box-two, .services-box-one, .goldcrest-img, .about-me-box-one, .additional-one, .additional-two  {
  text-align: center;
  width: 100%;
}

.services-hr {
  margin: 20px auto;
}

.content-box-small, .content-box, .testimonial-box-small{
margin: auto 5px;
}
.goldcrest-img {
  max-width: 300px;
  margin: auto;
  padding-bottom: 25px;
}
.about-me-box-two {
  width: 60%;
  margin: auto;
  padding-top: 48px;
}
.contact-box {
  width: 70%;
}
.footer{
  display: block;
  text-align: center;
}
.logo-box {
  padding: 48px 0px;
}
.goldcrest-img.img-responsive, .additional-img.img-responsive{
  max-width: 40%;
}
:root{
  color-scheme: light only;
}

/*.content-box-small, .content-box, .testimonial-box-small {
  margin: 0px 16px;
}*/

}
@media only screen and  (max-width:600px) {
.primarycta {
  display: block;
  margin-bottom: 24px;
}
.secondarycta{
  display: block;
}
 .nav-bar{
  display: none;
 } 
 .mobile-logo {
  display: block!important;
  margin: 8px auto;
}
ul{
  list-style: none;
  padding-left: 0px;
}
li {
  margin: 5px auto;
}
#nav-icon3 {
  display: block;
}
:root{
  color-scheme: light only;
}

}

</style>
