<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  a{
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
  }
a:hover{
    color: #0d5a67;
  }
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }
  h1{
    font-size: 49px;
    color: #fff!important;
    margin-top:0px;
  }
  h2{
                        /*    padding-bottom: 20px;*/
font-size: 28px;
color: #000F2B;
  }
p, li{
  font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #625F5F;
  }
.services-hr {
  border: none;
height: 2px;
/* Set the hr color */
color: #FDDA25;  /* old IE */
background-color: #FDDA25;  /* Modern Browsers */
width: 100px;
margin-left:0;
}
hr {
  border: none;
height: 2px;
/* Set the hr color */
color: #FDDA25;  /* old IE */
background-color: #FDDA25;  /* Modern Browsers */
width: 100px;
}
  .header{
    height: 600px;
    display: flex;
    background-position: center!important;
                        background: url(https://github.com/iordanisch/kirsten/blob/main/header-img.jpg?raw=true);
  }
  .nav-text{
    font-family: 'Playfair Display', serif;
    color: #3a3a3a;
  }
  
  .box{
    max-width: 1170px;
    margin:auto;
    text-align: center;
    padding-bottom: 25px;
  }
  .nav-box {
padding: 16px 16px 25px 16px;
}
  .nav-bar{
    background: #fff;
    max-width: 1920px;
    display: flex;
justify-content: space-between;
  }
                    .navigation-options {
    margin: auto 0px;
    padding-right: 16px;
  }
  .nav-text{
    margin: 0px 16px;
  }
.headerbutbox {
margin-top: 54px;
}
.heardertext{
  color: #fff;
}
.primarycta {
border: 2px solid #fff;
padding: 16px 40px 16px;
color: #fff;
font-size: 12px;
margin:0px 24px;
}
.primarycta:hover {
border: 2px solid #0D5A67;
padding: 16px 40px 16px;
background: #0D5A67;
color: #fff;
transition: 1s;
text-decoration: none;
}
.secondarycta {
border: 2px solid #fff;
padding: 16px 40px 16px;
background: #fff;
color: #0D5A67;
font-size: 12px;
margin:0px 24px;
}
.secondarycta:hover {
border: 2px solid #0D5A67;
padding: 16px 40px 16px;
background: #0D5A67;
color: #fff;
transition: 1s;
text-decoration: none;
}
.content-box, .additional-box {
max-width: 1100px;
margin: auto;
text-align: center;
padding: 100px 0px;
display: flex;
justify-content: space-between;
}
.content-box-small {
max-width: 700px;
margin: auto;
text-align: center;
padding: 100px 0px;
}
.content{
  background: #0D5A67;
}
.services-title{
  color:#fff;
    margin: 0px;
}
.about-me-title{
    margin: 0px;
}
.services-box-one{
  text-align: left;
  width: 30%;
  }
.goldcrest-img{
  width: 215px;
opacity: 0.27;
}
.services-box-two{
  text-align: left;
  width: 65%;
}
.services-text{
  color: #fff;
}
.about-me-box-one{
  width: 65%;
  text-align: left;
}
.about-me-box-two{
  width: 30%;
}
.social-icon {
padding: 10px;
background: #0D5A67;
border-radius: 120px;
width: 36px;
text-align: center;
color: #fff;
margin-right: 16px;
}
.social-icon:hover {
padding: 10px;
background: #0D5A67;
border-radius: 120px;
width: 36px;
text-align: center;
color: #fff;
margin-right: 16px;
opacity: 0.5;
  transition: 1s;
}
.signature{
  max-width: 200px;
}
.contact-box{
  padding: 100px 0px;
  width: 600px;
  margin: auto;
}
.content-contact{
background-position: center!important;
                        background: url(https://uc4ea75f0fd46273e40e3377f9b9.previews.dropboxusercontent.com/p/thumb/AB4PI6LKL95qrASCZkWe-gyDlLT440DZwNuEqFoMx4-YfOv5aYYsjYdTK6lVYtE5W4anng2LMj9jUPk4S1fGmb-7fcGB5_7D282UDfyLwAYqZRuwHc3OzqXPgyNTBj9QiUCYO8mtglUMWq0VJLL24wntCMyDc2NOoIKZmzJlUXsXVPaLkyqfp04nPdTbMqZ0LpXxiM3C8fZ40K_7U0_1r2COyfYt2nbuxTZR6c3s8Nl4XkiTulpxML_JegfAEhITf-k-kz_alpSk9OWQimaDoOy_5IoHHysIACNW6mirBob1Uzb3HFmQDumt1wGit-Zu66NkL7EqkKKhe1cCosoLW-cy7XZntDTZI7sFiFx9d_X3J3j_twsYWKaBjuAtrWGdL63PiMlCjkPKtYZy6mlxfGuzJkcnbohy2MHe8wryYXEwP1-UBXjmrM7U3qjYd7mqnHzsK1qM398HFrReRGF3WoErqtG11Wg2tVlpWNK1JG2GQQ/p.jpeg);
}
  body{
margin: 0 auto;
position: relative;
  }
.contact-text-box {
text-align: center;
}
/* Style the form element with a border around it */
/* Add some padding and a grey background color to containers */
.container {
padding: 20px;
background-color: #f1f1f1;
}
/* Style the input elements and the submit button */
input[type=text], input[type=number], input[type=email], input[type=submit],#message  {
width: 100%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
outline:0;
}
input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=submit]:focus,#message:focus  {
border:1px solid #0D5A67;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
/* Add margins to the checkbox */
input[type=checkbox] {
margin-top: 16px;
}
/* Style the submit button */
input[type=submit] {
background: none;
border: 2px solid #fff;
/*padding: 16px 40px 16px;*/
color: #fff;
font-size: 12px;
/*margin:0px 24px;*/
}
input[type=submit]:hover {
border: 2px solid #0D5A67;
background: #0D5A67;
color: #fff;
transition: 1s;
}
.additional-one{
  text-align: left;
  width: 65%;
}
.additional-two{
  width: 30%;
}
.additional-img {
margin: auto;
opacity: 0.2;
}
.quote{
  font-size: 30px;
  color: #fff;
}
.testimonial-box-small {
max-width: 700px;
margin: auto;
padding: 100px 0px;
}
.test-text{
  border-left: 4px solid #fff;
  padding-left: 50px;
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}
.get-in-text{
  color: #fff;
  text-shadow: 1px 1px #0000002e;
}
.testimonial-box{
  background: #000;
}
.right-aligned{
  text-align: right;
  text-shadow: 1px 1px #0000002e;
  color:#fff;
}
.testimonial-box{
  background: url(https://previews.dropbox.com/p/thumb/AB53bKoJSEtdGi1zhB0iS0UlRKdibpr4UCuHjIC7QE8bnhe7UVnsoTYcgxdjTG01ZeWgOpLj2D6wnfAdSGZuKkO0ZXV1PlLtKW5XQNBrYj8S_Q2n7-RcLXlrEaxgLI69w6gd2IoiKM8e6k7TeV4wWHN5zyoKcqT7iwEzBDpzp-9Xlk6NxYE-IuobhPlrjCnDVIelmh8EngBlYqCL1oyPz8_s82ks2LJHtvxwOOUrl4DO4DXSYAEEMn3dCJ-amz87FIdQJUj3J22c-6zhi-m0R9OorTnIe35RcUsl_NDHrzm1EG0EwH6S8asHBm-7u3zE3QJ26VXZYm2nHeSL9UjInO4_TVyb_xPixfLtAau7QtDquwoRt5fchPgV3yXZgv0-GC0/p.jpeg);
  background-position: center!important;
  background-repeat: no-repeat;
}
.footer {
max-width: 750px;
margin: auto;
display: flex;
justify-content: space-between;
padding: 50px 0px;
}
.bacp-logo{
  max-width: 180px;
}
.social-box{
  text-align: center;
}
.hr-long{
  border: none;
height: 1px;
/* Set the hr color */
color: #f1f1f1;  /* old IE */
background-color: #f1f1f1;  /* Modern Browsers */
width:100%;
}
.footer-small {
  background: #0D5A67;
}

@media only screen and (max-width: 1280px) {
  .additional-box, .content-box {
    max-width: 970px;
  }
}
@media only screen and (max-width: 970px) {
  .additional-box, .content-box {
    display: block;
    max-width: 600px;
  }

  .services-box-two, .services-box-one, .goldcrest-img {
  text-align: center;
  width: 100%;
}

.services-hr {
  margin-left: auto;
}
.goldcrest-img {
  max-width: 300px;
  margin: auto;
  padding-bottom: 25px;
}
}
</style>